################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.lock
*.wsuo
*.json
*.sqlite
__pycache__
